<h3>Tasks</h3>

<div class="row">
  <%= form_for @task do |f| %>
    <%= f.text_field :description %>
    <%= f.submit "Create Task" %>
  <% end %>
</div>

<ul>
  <% @tasks.each do |task| %>
    <li><%= task.description %></li>
  <% end %>
</ul>
