// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "tasks";
@import "font-awesome";

body {
  padding-top: 70px;
}

.navbar {
  font-size: 1rem;
  padding-top: .45rem;
}
