// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.flex-ul {
    padding: 0 0 0 0;
}
.checkbox-toggle > i {
    width: 25px;
    display: inline-block;
}

.checkbox-toggle > i.fa-check-square-o {
    display: none;
}

.checkbox-toggle:hover > i.fa-square-o {
    display: none;
}


.checkbox-toggle:hover > i.fa-check-square-o {
    display: inline-block;
}


.flexdescription {
    margin-left: 10px;
    margin-right: 5px;
}

.flexc {
    display: flex;
    justify-content: space-between;
}

.flexc > div {
}

.flexbox {
    margin-right: auto;
}

.flexoptions {
    margin-left: auto;
    margin-right: 10px;
}

ul.q3test {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    background-color: lightyellow;
    list-style: none;
    width: 100%;
}

li.q3test {
    flex: 1 1 100%;
    text-align: center;
    outline: 1px dashed;
}

i.fa-square-o.icontest {
    border: 3px solid black;
}

.task-description {
    border: 1px solid blue;
    display: inline-block;
    width: 75%;
}
.quadrant {
    border: 2px solid grey;
    margin: 5px;
}

.quadrant ul {
    list-style: none;
    min-height: 250px;
}

#quad1 {
    background-color: #ffffe6;
}

#quad2 {
    background-color: #eafaea;
}

#quad3 {
    background-color: #e6e6ff;
}

#quad4 {
    background-color: #f9e6ff;
}

.form-group {
    margin-left: 60px;
}

.quadrant h4 {
    text-align: center;
    padding-bottom: 15px;
    // min-height: 300px;
    // min-width: 300px;
}

ul.q_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.q_list li {
    // background: image-url("check_box_empty.png") no-repeat left top;
    // padding-left: 40px;
    // padding-top: ;
}
// .check_box {
//   margin-right: 10px;
// }

.task a:hover {
    text-decoration: none;
}

.menu {
    float: right;
    position: relative;

    .menu-options {
        display: none;
        background: white;
        padding: 1em 1.5em;
        position: absolute;
        right: 0;
        top: 0;
    }

    &:hover .menu-options {
        display: block;
    }
}

.fa-square-o {
    // margin-right: 0.5em;
    // margin-bottom: -1em;
}

.task {
    .icon {
        display: inline-block;
        // vertical-align: top;
    }

    // .description {
        //   margin-top: 0.25em;
        //   display: inline-block;
        //   vertical-align: top;
    // }
}

.task a:link {
    color: black;
}

.task a:visited {
    color: black;
}

.options {
    display: inline-block;
    vertical-align: top;
    float: right;
    border: 2px solid red;
}

// mind dump page
.mind-dump {
    background-color: #ffffe6;
    border: 2px solid grey;
    padding-top: 30px;
}

.mind-dump ul {
    list-style: none;
}

// sign up template
.sign-link a {
  color: #64103F;
}
