// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quadrant {
  border: 2px solid grey;
  margin: 5px;
}

.quadrant ul {
  list-style: none;
  min-height: 250px;
}

#quad1 {
  background-color: #ffffe6;
}

#quad2 {
  background-color: #eafaea;
}

#quad3 {
  background-color: #e6e6ff;
}

#quad4 {
  background-color: #f9e6ff;
}

.quadrant h4 {
  text-align: center;
  padding-bottom: 15px;
  // min-height: 300px;
  // min-width: 300px;
}

ul.q_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.q_list li {
  background: image-url("check_box_empty.png") no-repeat left top;
  padding-left: 40px;
  // padding-top: ;
}
// .check_box {
//   margin-right: 10px;
// }

.menu {
  float: right;
  position: relative;

  .menu-options {
    display: none;
    background: white;
    padding: 1em 1.5em;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover .menu-options {
    display: block;
  }
}
